<!DOCTYPE html>
<html lang="{{ page.lang }}">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="robots" content="noai, noimageai" />
	<link rel="stylesheet" type="text/css" href="/css/mre.css" />
	<link rel="stylesheet" type="text/css" title="dark" href="/css/dxhr.css" />
	<link rel="shortcut icon" type="image/png" href="/favicon.png" />

	{% seo %}
</head>
<body>

{% include header.html %}

<main>
	<article class="content">
	{{ content }}
	</article>

	{% if page.accept_comments %}
		<section class="comments">
			<h3>User comments</h3>
			<opt-in-script src="https://commento.indigo.re/js/commento.js">
				<button>Show comments/Post comment using Commento</button>
			</opt-in-script>
			<div id="commento"></div>
		</section>
	{% endif %}
</main>

{% include footer.html %}

{% if page.accept_comments %}
	<script src="/js/opt-in-script.js"></script>
{% endif %}

</body>
</html>
