<!DOCTYPE html>
<html lang="{{ page.lang }}">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
	<meta name="robots" content="noai, noimageai" />
	<link rel="stylesheet" type="text/css" href="/css/mre.css" />
	<link rel="stylesheet" type="text/css" title="dark" href="/css/dxhr.css" />
    <link rel="shortcut icon" type="image/png" href="/favicon.png" />

    {% seo %}
</head>
<body>
<div class="site">

{% include header.html %}

<div class="content post-list">
<ul>
    {% for post in site.posts %}
        <li><a href="{{ post.url }}"><time datetime="{{ post.date }}" class="post-date">{{ post.date | date: "%Y-%m-%d" }}</time>
            <span class="post-title">{{ post.title }}</span></a></li>
    {% endfor %}
</ul>
</div>

{% include footer.html %}
</div>
</body>
</html>
